PORT=3000
MONGODB_DEV=mongodb://127.0.0.1:27017/your-database-name

DB_PORT=5432
DB_HOST=127.0.0.1
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_NAME=your-db-name

SECRETORPRIVATEKEY=your-secret-key
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_SECRET_ID=your-google-secret-id

GMAIL_SENDER_HOST
GMAIL_SENDER_PORT
GMAIL_SENDER
GMAIL_SENDER_PASSWORD

CLOUDINARY_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
